.slideshow-container {
    height: 100%;
    width: 100%;
    border: solid 4px rgb(156, 128, 128);
    border-radius: 10px;
}

.Right-mirror {
    width: 100%;
    height: 6px;
    background-color: rgb(154, 210, 255);
    transform: rotate(45deg);
    border-radius: 4px;
    box-shadow: 2px 3px 5px #3f3f3f;
}

.Left-mirror {
    width: 100%;
    height: 6px;
    background-color: rgb(154, 210, 255);
    transform: rotate(-45deg);
    border-radius: 4px;
    box-shadow: 2px 3px 5px #3f3f3f;
}

.Vert-wall {
    width: 6px;
    height: 100%;
    background-color: rgb(85, 72, 72);
    border-radius: 4px;
    box-shadow: 2px 3px 5px #3f3f3f;
}

.Hor-wall {
    width: 100%;
    height: 6px;
    background-color: rgb(85, 72, 72);
    border-radius: 4px;
    box-shadow: 2px 3px 5px #3f3f3f;
}