@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@500&display=swap");

label {
  font-size: 18pt;
  margin: 0px 20px;
  font-weight: 600;
}

select {
  font-size: 18pt;
  margin: 0px 0px 20px 0px;
}

p {
  font-size: 22px;
}

.code-box {
  margin: 0px 0px 60px;
  padding: 0.6cm;
  border-radius: 10px;
  width: 600px;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  font-weight: 600;
  background-color: #3d3d3d;
  color: #dfdfdf;
  transition-duration: 0.2s;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.code-box:hover {
  background-color: #5c5c5c;
}

.hostgame-link {
  text-decoration: none;
  cursor: pointer;
}

#group-name {
  padding: 20px;
  border: 0;
  margin: 20px 0px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 18pt;
}
