.img {
  max-height: 70%;
  max-width: 70%;
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
  box-shadow: 2px 3px 5px #000000;
}

p {
  margin: 30px 20px;
}

.instruction-box-container {
  width: 100%;
  height: auto;
}

.instruction-box {
  width: calc(100% - 64px);
  height: auto;
  border-radius: 10px;
  font-size: 18pt;
  background-color: rgb(232, 199, 199, 1);
  font-weight: 600;
  color: --primary;
  padding: var(--m);
}

.infoP {
  width: 100%;
  height: 300px;
  margin-top: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.control-box {
  padding: 20px 40px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 18pt;
  background-color: #d4d4d4;
  font-weight: 600;
  color: --primary;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.title1 {
  text-align: left;
  font-family: "Yusei Magic", sans-serif;
  font-size: 50pt;
  padding: var(--s);
  padding-left: var(--m);
}

.title2 {
  text-align: left;
  font-family: "Yusei Magic", sans-serif;
  font-size: 40pt;
  padding: var(--s);
  padding-left: var(--m);
}

.key {
  margin: 20px 20px 10px 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18pt;
  font-weight: 600;
  color: #fff;
  background-color: #858585;
  transition-duration: 0.2s;
  box-shadow: 2px 3px 5px #3f3f3f;
}
.key:hover {
  margin: 20px 20px 10px 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18pt;
  font-weight: 600;
  color: #fff;
  transition-duration: 0.2s;
  box-shadow: 2px 3px 5px #3f3f3f;
  background-color: #d7d7d7;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.player-container {
  width: 300px;
  height: 100%;
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: rgb(156, 156, 156);
  box-shadow: 2px 3px 5px #3f3f3f;
}

.choose-container {
  height: 100%;
  width: 400px;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: rgba(212, 212, 212, 0.4);
  box-shadow: 2px 3px 5px #3f3f3f;
  text-align: center;
  align-items: center;
}

.down {
  height: 100%;
  width: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkDown0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}
.up {
  height: 100%;
  width: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkUp0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}
.left {
  height: 100%;
  width: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkLeft0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}
.right {
  height: 100%;
  width: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkRight0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}
