#game-code {
  padding: 20px;
  border: 0;
  margin: 20px 0px;
  font-family: "Press Start 2P", cursive;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 18pt;
}

.error-message {
  color: rgb(187, 76, 76);
  font-size: 12px;
}

.back-button {
  position: absolute;
  left: 83px;
  top: 22px;
}
