.title1 {
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  font-size: 50pt;
  padding-right: var(--l);
  padding-left: var(--l);
  margin: var(--m);
  margin-bottom: 0px;
  background-color: rgb(232, 199, 199, 1);
  border-radius: 10px;
  color: --white;
}

.title2 {
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  font-size: 30pt;
  padding: var(--s);
  padding-left: var(--m);
  padding-top: 10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  margin-top: 0px;
  height: 100%;
  width: 100%;
}

.button {
  background-color: #c4c4c4;
  border: none;
  border-radius: 10px;
  color: rgb(24, 24, 24);
  padding: 10px 24px;
  text-align: center;
  margin: var(--s);
}

.button:hover {
  background-color: #d7d7d7;
}

.statsBox {
  background-color: rgb(221, 183, 182);
  border-radius: 10px;
  margin-top: var(--m);
  padding: 10px;
}

.keyBox {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.winKey {
  background-color: #45d8b8;
  color: #45d8b8;
  border-radius: 10px;
}
.loseKey {
  background-color: #756565;
  color: #756565;
  border-radius: 10px;
}

#change-user {
  padding: 20px;
  border: 0;
  margin: 7px 0px;
  box-shadow: 0px 0 15px 4px rgba(0, 0, 0, 0.166);
  border-radius: 10px;
  font-size: 18pt;
}

.gamesInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blankBoard {
  height: 54vh;
  width: 54vh;
}

select {
  font-size: 18pt;
  width: 40%;
  background-color: #eeeeee;
  border-radius: 10px;
  font-family: "Nunito";
  margin: 0px 0px 0px 0px;
  padding: 7px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.414);
}

#delete-board {
  font-size: 24px;
  width: auto;
  margin-left: var(--m);
}
