.Sidebar-container {
  background-color: rgb(73, 72, 80);
  height: 100vh;
  width: 20vw;
  float: left;
  color: white;
  font-size: 1.25vw;
  font-family: "Press Start 2P", cursive;
}

.title {
  width: 100%;
  font-size: 3.6vw;
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
  font-weight: 700;
  padding: var(--m) 0px 50% 0px;
}

.nav {
  height: auto;
  padding: var(--m);
  margin-bottom: var(--m);
  width: 100%;
  color: white;
}

.nav:hover {
  color: var(--medgrey);
  background-color: var(--primary);
}

.login {
  bottom: 0;
  height: auto;
  width: 100%;
  margin-top: auto;
  margin-bottom: var(--l);
}
