.Card-container {
  height: auto;
  width: 100%;
  margin: var(--s) 0px var(--s) 0px;
}

.field {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding-top: var(--xs);
}

.Card-container-currPlayer {
  height: auto;
  width: 100%;
  margin: var(--s) 0px var(--s) 0px;
  background-color: rgb(226, 226, 226);
  border-radius: 4px;
}

.value {
  text-align: center;
  font-size: large;
  padding-bottom: var(--xs);
}

hr {
  width: 75%;
}
