.Card-container {
  height: auto;
  width: 100%;
  margin: var(--s) 0px var(--s) 0px;
}

.Card-top-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
}

.Card-bottom-container {
  width: 100%;
  display: flex;
}

.field {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding-top: var(--xs);
}

.player-name {
  font-size: 18px;
  text-align: right;
}

.field-container {
  flex: 50%;
}

.down0small {
  flex: 50%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_1.png")
    center center no-repeat;
}

.down1small {
  flex: 50%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_376_1.png")
    center center no-repeat;
}

.down2small {
  flex: 50%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_395_1.png")
    center center no-repeat;
}

.down3small {
  flex: 50%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_380_1.png")
    center center no-repeat;
}

.Card-container-currPlayer {
  height: auto;
  width: 100%;
  margin: var(--s) 0px var(--s) 0px;
  background-color: rgb(226, 226, 226);
  border-radius: 4px;
}

.value {
  text-align: center;
  font-size: large;
  padding-bottom: var(--xs);
}

hr {
  width: 75%;
}
