.Info-container {
    height: 100%;
    width: 100%;
}

.Room-info {
    height: 50%;
    width: 100%;
    background-color: rgb(232,199,199,1);
    border-radius: 10px;
    box-shadow: 2px 3px 5px #3f3f3f;
}

.status-container {
    height: 50%;
    width: 100%;
}

.start {
    text-align: center;
    padding: 0.5cm;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    background-color: #c4c4c4;
    transition-duration: 0.2s;
    box-shadow: 2px 3px 5px #3f3f3f;
  }
  
  .start:hover {
    background-color: #d7d7d7;
    color: var(--primary--dim);
  }