.turn-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.turn-outer {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-top: 8px;
  background-color: rgba(198, 198, 205, 0.5);
  box-shadow: 0px 0px 2px rgb(151, 151, 158);
}

.img-container {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-style {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
}

.text-container {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon_down_0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  display: flex;
  animation: walkDown0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_down_1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_376_1.png")
    center center no-repeat;
  display: flex;
  background-size: contain;
  animation: walkDown1 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_down_2 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_395_1.png")
    center center no-repeat;
  display: flex;
  background-size: contain;
  animation: walkDown2 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_down_3 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_380_1.png")
    center center no-repeat;
  display: flex;
  background-size: contain;
  animation: walkDown3 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.popsicle_down_0 {
  width: 100%;
  height: 100%;
  background: url("./Gifs/green_d.gif") center center no-repeat;
  display: flex;
  background-size: contain;
}

.popsicle_down_1 {
  width: 100%;
  height: 100%;
  background: url("./Gifs/pink_d.gif") center center no-repeat;
  display: flex;
  background-size: contain;
}

.popsicle_down_2 {
  width: 100%;
  height: 100%;
  background: url("./Gifs/purple_d.gif") center center no-repeat;
  display: flex;
  background-size: contain;
}

.popsicle_down_3 {
  width: 100%;
  height: 100%;
  background: url("./Gifs/yellow_d.gif") center center no-repeat;
  display: flex;
  background-size: contain;
}
