/* Tile styles go here */
.Tile-container {
  height: 100%;
  width: 100%;
}

.lit {
  background-color: rgb(255, 255, 0, 0.35);
  height: 100%;
  width: 100%;
  border-radius: 4px;
  z-index: 25;
  position: relative;
}

.full {
  height: 100%;
  width: 100%;
}

.Tile-body {
  /* background-color: rgb(177, 143, 207); */
  background-image: url("./tileImg.png");
  height: 90%;
  width: 90%;
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.Right-mirror {
  width: 100%;
  height: 6px;
  background-color: rgb(154, 210, 255);
  transform: rotate(45deg);
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.Left-mirror {
  width: 100%;
  height: 6px;
  background-color: rgb(154, 210, 255);
  transform: rotate(-45deg);
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.Vert-wall {
  width: 6px;
  height: 100%;
  background-color: rgb(85, 72, 72);
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.Hor-wall {
  width: 100%;
  height: 6px;
  background-color: rgb(85, 72, 72);
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.flag {
  width: 100%;
  height: 100%;
  background: url("./Gifs/flag.gif") center center no-repeat;
  background-size: contain;
}

.pokeball {
  width: 100%;
  height: 100%;
  background: url("https://i.gifer.com/origin/28/2860d2d8c3a1e402e0fc8913cd92cd7a_w200.gif") center
    center no-repeat;
  background-size: contain;
}

.pokemon_up0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkUp0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_down0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkDown0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_left0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkLeft0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_right0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_149_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkRight0 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.empty {
  box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.25);
}

@keyframes walkUp0 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_149_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_149_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkDown0 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkLeft0 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_149_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_149_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkRight0 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_149_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_149_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

.pokemon_up1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_376_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkUp1 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_down1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_376_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkDown1 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_left1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_376_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkLeft1 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_right1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_376_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkRight1 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

@keyframes walkUp1 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_376_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_376_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkDown1 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_376_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_376_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkLeft1 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_376_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_376_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkRight1 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_376_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_376_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

.pokemon_up2 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_395_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkUp2 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_down2 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_395_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkDown2 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_left2 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_395_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkLeft2 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_right2 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_395_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkRight2 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

@keyframes walkUp2 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_395_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_395_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkDown2 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_395_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_395_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkLeft2 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_395_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_395_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkRight2 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_395_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_395_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

.pokemon_up3 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_380_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkUp3 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_down3 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_380_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkDown3 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_left3 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_380_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkLeft3 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.pokemon_right3 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_380_1.png")
    center center no-repeat;
  background-size: contain;
  animation: walkRight3 0.5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

@keyframes walkUp3 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_380_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_380_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkDown3 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_380_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_380_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkLeft3 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_380_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_380_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

@keyframes walkRight3 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_380_1.png")
      center center no-repeat;
    background-size: contain;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_380_2.png")
      center center no-repeat;
    background-size: contain;
  }
}

.popsicle_up0 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/green_u.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_down0 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/green_d.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_right0 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/green_r.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_left0 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/green_l.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_up1 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/pink_u.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_down1 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/pink_d.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_right1 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/pink_r.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_left1 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/pink_l.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_up2 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/purple_u.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_down2 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/purple_d.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_right2 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/purple_r.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_left2 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/purple_l.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_up3 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/yellow_u.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_down3 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/yellow_d.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_right3 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/yellow_r.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popsicle_left3 {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("./Gifs/yellow_l.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
