/* Tile styles go here */
.Tile-container {
  height: 100%;
  width: 100%;
}

.Tile-body {
  /* background-color: rgb(177, 143, 207); */
  background-image: url("./tileImg.png");
  height: 90%;
  width: 90%;
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.Right-mirror {
  width: 100%;
  height: 6px;
  background-color: rgb(154, 210, 255);
  transform: rotate(45deg);
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.Left-mirror {
  width: 100%;
  height: 6px;
  background-color: rgb(154, 210, 255);
  transform: rotate(-45deg);
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.Vert-wall {
  width: 6px;
  height: 100%;
  background-color: rgb(85, 72, 72);
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

.Hor-wall {
  width: 100%;
  height: 6px;
  background-color: rgb(85, 72, 72);
  border-radius: 4px;
  box-shadow: 2px 3px 5px #3f3f3f;
}

/* placeholder class for the players */
.up0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_149_1.png") center center no-repeat;
  background-size: cover;
  animation: walkUp0 .5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.down0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_1.png") center center no-repeat;
  background-size: cover;
  animation: walkDown0 .5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.left0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_149_1.png") center center no-repeat;
  background-size: cover;
  animation: walkLeft0 .5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.right0 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_149_1.png") center center no-repeat;
  background-size: cover;
  animation: walkRight0 .5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.goal {
  width: 100%;
  height: 100%;
  background: url("./flag.png") center center no-repeat;
  background-size: cover;
}

.empty {
  box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.25);
}

@keyframes walkUp0 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_149_1.png") center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_149_2.png") center center no-repeat;
    background-size: cover;
  }
}

@keyframes walkDown0 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_1.png") center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_149_2.png") center center no-repeat;
    background-size: cover;
  }
}

@keyframes walkLeft0 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_149_1.png") center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_149_2.png") center center no-repeat;
    background-size: cover;
  }
}

@keyframes walkRight0 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_149_1.png") center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_149_2.png") center center no-repeat;
    background-size: cover;
  }
}

.up1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_376_1.png") center center no-repeat;
  background-size: cover;
  animation: walkUp1 .5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.down1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_376_1.png") center center no-repeat;
  background-size: cover;
  animation: walkDown1 .5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.left1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_376_1.png") center center no-repeat;
  background-size: cover;
  animation: walkLeft1 .5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

.right1 {
  width: 100%;
  height: 100%;
  background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_376_1.png") center center no-repeat;
  background-size: cover;
  animation: walkRight1 .5s linear 0s infinite;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

@keyframes walkUp1 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_376_1.png") center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-b_hgss/o-b_hs_376_2.png") center center no-repeat;
    background-size: cover;
  }
}

@keyframes walkDown1 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_376_1.png") center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o_hgss/o_hs_376_2.png") center center no-repeat;
    background-size: cover;
  }
}

@keyframes walkLeft1 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_376_1.png") center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-l_hgss/o-l_hs_376_2.png") center center no-repeat;
    background-size: cover;
  }
}

@keyframes walkRight1 {
  0% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_376_1.png") center center no-repeat;
    background-size: cover;
  }
  50% {
    background: url("https://www.pokencyclopedia.info/sprites/overworlds/o-r_hgss/o-r_hs_376_2.png") center center no-repeat;
    background-size: cover;
  }
}